<app-header></app-header>

<section class="about-us">
  <h2>Sobre o Look & Mood</h2>
  <div class="about-content">
    <p>
      O <strong>Look & Mood</strong> é uma plataforma inovadora que combina o poder da música com a moda para criar looks inspirados nas suas faixas favoritas. Através de um algoritmo inteligente, nós analisamos a sua música preferida e sugerimos o look perfeito para expressar sua vibe.
    </p>
    <p>
      A ideia surgiu com a intenção de tornar a experiência de escolher um look mais divertida e conectada ao seu estilo musical. Queremos que cada usuário encontre um visual único que faça jus à sua música favorita e mostre ao mundo sua personalidade através da moda.
    </p>

    <h3>Quem somos?</h3>
    <p>
      Somos uma equipe apaixonada por moda, tecnologia e música. Nosso objetivo é usar essas três áreas para oferecer uma experiência única aos nossos usuários. Acreditamos que a música tem um impacto profundo na forma como nos vestimos, e queremos ajudar a trazer essa conexão para o dia a dia.
    </p>

    <h3>Nosso Objetivo</h3>
    <p>
      O objetivo do <strong>Look & Mood</strong> é criar uma plataforma interativa e inovadora, onde os usuários possam se expressar por meio de suas escolhas de música e estilo. Queremos inspirar confiança nas pessoas, permitindo que elas experimentem novos looks com base em suas preferências musicais.
    </p>

    <h3>Quem construiu?</h3>
    <p>
      O <strong>Look & Mood</strong> foi desenvolvido por uma equipe multidisciplinar de desenvolvedores, designers e especialistas em marketing digital. Trabalhamos juntos para criar uma experiência de usuário que seja tanto funcional quanto divertida.
    </p>
  </div>
</section>

<app-footer></app-footer>
<router-outlet></router-outlet>
