<app-header-publico></app-header-publico>
<div class="login-box">
  <div class="logo">
    <img src="assets/img/1.png" alt="Logo Prime Imobiliária">
  </div>

  <form (ngSubmit)="entrar()">
    <input
      type="text"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    >

    <input
      type="password"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      required
    >

    <button type="submit">Login</button>
  </form>

  <div class="links">
    <a href="#">Esqueceu sua senha?</a>
    <a href="#">Ajuda</a>
  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
